<%= form_for(@character) do |f| %>
    <% if @character.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

          <ul>
            <% @character.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div id="card">
    <div id="name">
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </div>
    <div id="race">
      <%= f.label :race_id %>:
      <%= collection_select(:character, :race_id, Race.all, :id, :name, prompt: false)%>
    </div>
    <div id="description">
      <%= f.label 'Description:', class: 'descriptionLabel' %>
      <%= f.text_area :description %>
    </div>
    <div id="exp">
      <%= f.label :exp %>:
      <%= f.number_field :exp %>
    </div>
    <div id="attributes">
      <table>
        <% Attrib.all.each do |attrib| %>
        <tr class="attribute">
          <th>
            <%= attrib.name %>
          </th>
          <td>
            <input type="hidden" name="character[characters_attribs][attrib_id]" value="<%= attrib.id %>" />
            <% Dice.character_sheet.each do |dice| %>
                <input
                  type="radio"
                  name="character[characters_attribs][dice_id]"
                  <% if @character.attrib_dice(attrib).id == dice.id %>checked="checked"<% end %>
                  value="<%= dice.number %>"><img src="<%= image_url "dice/a#{dice.number}.png" %>"/>
                <% if dice.plus != 0 %>+<%= dice.plus %><% end %>
            <% end %>
          </td>
        </tr>
        <div id="skills">
          <% Skill.where(attrib_id: attrib.id).each do |skill| %>
            <tr class="skill">
              <th>
                <%= skill.name %>
              </th>
              <td>
                <% Dice.character_sheet.each do |dice| %>
                  <input
                    type="radio"
                    name="character[skill][<%= skill.id %>][][dice_id]"
                    <% if @character.skill_dice(skill).id == dice.id %>checked="checked"<% end %>
                    value="<%= dice.number %>"><img src="<%= image_url "dice/s#{dice.number}.png" %>" />
                    <% if dice.plus != 0 %>+<%= dice.plus %><% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </div>
        <% end %>
      </table>
    </div>
    <div id="edges">
      <div class="header"><%= f.label 'Edges' %>:</div>
      <%= collection_check_boxes :character, :edge_ids, Edge.non_racial, :id, :name do |e| %>
          <div>
            <span><%= e.check_box %></span>
            <span title="<%= e.object.description %>"><%= e.label %></span>
          </div>
      <% end %>
    </div>
    <div id="hindrances">
      <div class="header"><%= f.label 'Hindrances' %>:</div>
      <%= collection_check_boxes :character, :hindrance_ids, Hindrance.non_racial, :id, :name do |e| %>
          <div>
            <span><%= e.check_box %></span>
            <span title="<%= e.object.description %>"><%= e.label %></span>
          </div>
      <% end %>
    </div>
    <div id="powers">
      <div class="header"><%= f.label 'Powers' %>:</div>
      <%= collection_check_boxes :character, :power_ids, Power.all, :id, :name do |e| %>
          <div>
            <span><%= e.check_box %></span>
            <span title="<%= e.object.description %>"><%= e.label %></span>
          </div>
      <% end %>
    </div>
    <div id="submit">
      <table class="submit">
        <tr>
          <td colspan="2">
            <div class="actions">
              <%= f.submit %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>