<h1>Listing characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Exp</th>
      <th>Bennies</th>
      <th>Money</th>
      <th>Ini cards</th>
      <th>Card</th>
      <th>Card</th>
      <th>Race</th>
      <th>Rank</th>
      <th>Character type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.description %></td>
        <td><%= character.exp %></td>
        <td><%= character.bennies %></td>
        <td><%= character.money %></td>
        <td><%= character.ini_cards %></td>
        <td><%= character.ini_min %></td>
        <td><%= character.ini_max %></td>
        <td><%= character.race %></td>
        <td><%= character.rank %></td>
        <td><%= character.character_type %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
