<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @character.exp %>
</p>

<p>
  <strong>Bennies:</strong>
  <%= @character.bennies %>
</p>

<p>
  <strong>Money:</strong>
  <%= @character.money %>
</p>

<p>
  <strong>Ini cards:</strong>
  <%= @character.ini_cards %>
</p>

<p>
  <strong>Ini min:</strong>
  <%= @character.ini_min %>
</p>

<p>
  <strong>Ini max:</strong>
  <%= @character.ini_max %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @character.rank %>
</p>

<p>
  <strong>Character type:</strong>
  <%= @character.character_type %>
</p>

<p>
  <strong>Edges:</strong>
  <table>
  <% @character.edges.each do |edge| %>
    <tr>
      <td title="<%= edge.description %>"><%= edge.name %></td>
      <td><%= edge.edge_type %></td>
    </tr>
  <% end %>
  </table>
</p>

<p>
  <table>
    <strong>Hindrances:</strong>
  <% @character.hindrances.each do |hindrance| %>
    <tr>
      <td title="<%= hindrance.description %>"><%= hindrance.name %></td>
      <td><%= hindrance.hindrance_type %></td>
    </tr>
  <% end %>
  </table>
</p>

<p>
  <table>
    <strong>Powers:</strong>
  <% @character.powers.each do |power| %>
    <tr>
      <td title="<%= power.description %>"><%= power.name %></td>
      <td><%= power.power_type %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
